@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: "Garamond";
    src: url('Garamond.ttf') format("truetype");
}

@font-face {
    font-family: "Bebas Neue";
    src: url('BebasNeue.otf');
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
	height: auto;
}

h1 {
	padding: 0px;
	margin: 0px;
}

.name {
	font-family: Garamond;
	color: #002b80;
	letter-spacing: 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 60px;
	margin-right: 60px;
	display: inline-block;
}

#menu {
	cursor:pointer;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
	float: right;
	font-size: 24px;
	padding-top: 22px;
	padding-bottom: 22px;
	outline: 0;
	border: none;
	text-decoration: none;
	font-weight: bold;
}

#menu:hover {
	color: #0044cc;
}

#navbar {
	background-color: white;
	height: 75px;
	padding: 0px;
	margin: 0px;
	z-index: 100;
}


.background {
	margin-left:2.5%;
	width: 95%;
	height: 700px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#weare {
	font-family: Garamond;
	font-size: 100px;
	color: #002b80;
	letter-spacing: 4px;
	width: 100%;
	text-align: center;
	display: block;
	margin-bottom: 50px;
	margin-top: 150px;
}

#logo {
	width: 300px;
	display: inline-block;
}

#logo-wrapper {
	width: 300px;
	display: inline-block;
}

#mission {
	font-family: "avenir";
	letter-spacing: 0px;
	float: right;
	width: 65%;
	font-size: 30px;
	margin-top: 30px;
	clear: both;
}

#intro {
	width: 80%;
	margin-left: 10%;
	margin-top: 0px;
	margin-bottom: 50px;
}

.color {
	height: 120px;
	width: 120px;
	border-radius: 1000px;
	float: left;
}

#navy {
	background-color: #80aaff;
	box-shadow: 0 0 0 5pt #002b80;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

#navy:hover {
	background-color: #002b80;
}

#gold {
	background-color: #fff0b3;
	box-shadow: 0 0 0 5pt #ffcc00;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

#gold:hover {
	background-color: #ffcc00;
}

.colorinfo {
	font-family: "avenir";
	display: inline-block;
	font-size: 40px;
	float: right;
}

.schoolcolors {
	width: 250px;
	display: inline-block;
	margin-left: 100px;
}

#aboutcolors {
	margin-top: 100px;
	width: 80%;
	margin-left: 10%;
	padding-left: 10%;
}

#motto {
	font-family: "Bebas Neue";
	letter-spacing: 2px;
	font-size: 180px;
	width: 100%;
	text-align: center;
	color: #002b80;
}

#mottoinfo {
	font-family: "Avenir";
	font-size: 80px;
	letter-spacing: 2px;
	width: 100%;
	text-align: center;
	color: #ffcc00;
	margin-top: 120px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width:1050px) {
	#mission {
		width: 100%;
		text-align: center;
		font-size: 25px;
	}
	#logo-wrapper {
		width: 100%;
		text-align: center;
		
	}
	.schoolcolors {
		margin-left: 5px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width:700px) {
	#navbar {
		height: 140px;
	}
	.name {
		padding-bottom: 12px;
		margin: auto;
		width: 100%;
		text-align: center;
	}
	#menu{
		width: 100%;
		float: none;
		text-align: center; 
	}

	#mottoinfo{
		margin-top: 50px;
		font-size: 55px;
	}
	
	#motto {
		font-size: 130px;
	}
	
}
